/* AdminDashboard.css */

.AdminDashboard {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.AdminDashboard h2 {
  color: #2f234f;
  margin-bottom: 15px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AdminDashboard .projects-heading {
  flex: 1;
}

.AdminDashboard .MuiAccordion-root {
  margin-bottom: 10px;
}

.AdminDashboard .MuiAccordionSummary-root {
  background-color: #FDF4E3;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.AdminDashboard .project-name {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 17px;
  flex: 1;
}

.AdminDashboard .MuiAccordionDetails-root {
  padding: 8px;
  background-color: #f9f9f9;
}

.AdminDashboard ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.AdminDashboard li {
  cursor: pointer;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.AdminDashboard .MuiIconButton-root {
  margin-left: 10px;
}
