
.login-container{
    margin-top: 6%;
    padding: 20px;
    border-radius: 8px;
}
.login-container .MuiOutlinedInput-root {
    background-color: #ffffff; 
  }
  
  .login-container .MuiInputLabel-root {
    color: black; 
  }
  
  .login-container .MuiOutlinedInput-notchedOutline {
    border-color: black; 
  }
  
  .login-container .MuiOutlinedInput-input {
    color: black; 
  }