.ProjectSubmission {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading-container {
  width: 90%;
  margin: 20px auto;
  text-align: left;
}

.ProjectSubmission .ProjectID {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 17px;
}

.submission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.status-completed {
  color: green;
}

.status-pending {
  color: red;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  margin: 10px;
}

.MuiAccordion-root {
  width: 90%;
  margin: 10px auto;
  background-color: #fee7be !important ;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.MuiAccordionDetails-root {
  padding: 8px;
  background-color: #f9f9f9;
}

.filter-container {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-right: 70px;
  margin-bottom: 10px;
}


.filter-container .MuiFormControl-root {
  width: 200px;
  margin-right: 10px;
}
