.addmentorform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    margin-top: 3%;
}
.addmentorform .form-field {
    margin-bottom: 20px;
    width: 100%;
}
.custom-textfield .MuiInputBase-root {
    color: #f50057; /* Change the color of the text */
  }
  
  .custom-textfield .MuiFormLabel-root.Mui-focused {
    color: #00d8f5; /* Change the color of the label when the TextField is focused */
  }
  
  .custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #f50057; /* Change the color of the border when the TextField is focused */
  }
  
  .custom-textfield .MuiOutlinedInput-input {
    padding: 12px; /* Increase the padding inside the TextField */
  }
  
  .custom-textfield .MuiFormHelperText-root {
    color: #f50057; /* Change the color of the helper text */
  }
  